*,
*::before,
*::after{
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    line-height: 1.2;
    color:#0E5195;
}


a{
    text-decoration: none;
    outline:none;
}


.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.main{
    flex: 1 0 auto;
}

.footer{
    flex: 0 0 auto;
}



.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/*HEADER*/

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 0;
    position:relative;
}
.header__logo{
    flex-basis: 15%;
    max-width:136px;
    width: 100%;
}
.header__info{
    flex-basis: 30%;
    width: 100%;
    max-width:336px;
    font-size:14px;

    display: flex;
    justify-content: space-between;


}

.mail{
    position:relative;
    cursor:pointer;
}

.mail::before{
    content: "";
    width: 20px;
    height: 20px;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    z-index: 1;
    background: url("../images/Icons/email.svg")
}

.mail:hover{
    text-decoration: underline;
}

.phone{
    position:relative;
    cursor:pointer;
}

.phone:hover{
    text-decoration: underline;
}

.phone::before{
    content: "";
    width: 20px;
    height: 20px;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    z-index: 1;
    background: url("../images/Icons/phone.svg")
}

.header__links{
    display: flex;
    flex-basis:15%;
    max-width:145px;
    width: 100%;
    justify-content: space-between;
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.header__link{
    width: 26px;
    height: 26px;
    transition: .2s;
}

.header__link:hover{
    transform: scale(1.1);
}

/*INTRO*/

.intro{
    padding-top: 120px;
    padding-bottom: 100px;
    position:relative;
}

.intro .container{
    display: flex;
}
.intro__content{
    flex-basis:60%;
    max-width:690px;

}
.intro__title{
    font-size:26px;
    line-height:1.4;
    font-weight: 700;
}
.intro__text{
    margin-top: 60px;
    width: 100%;
    max-width: 380px;
    font-size:20px;
    line-height: 1.4;
    color:rgba(65,94,165,.75);
}

.intro__image{
    margin-top: 80px;
    margin-left: 30px;
    position:relative;
    z-index: 2;

}

.intro__image::before{
    content:" ";
    width: 267px;
    height: 248px;
    border: 5px solid rgba(196, 196, 196, 0.46);
    position:absolute;
    top: -90px;
    right: -65px;
    z-index: -1;
}

.intro__image::after{
    content:" ";
    width: 267px;
    height: 248px;
    border: 5px solid rgba(196, 196, 196, 0.46);
    position:absolute;
    top: 110px;
    left: -85px;
    z-index: -1;
}



.intro__footer{
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    max-width:45%;
    height: 94px;
    background:linear-gradient(-135deg, transparent 75px, #3DB804 0);
}

.intro .container{
    position:relative;
}
.intro__footer__content{
    width:inherit;
    max-width: 40%;
    display: flex;
    margin-left: auto;
    font-size:18px;
    margin-right: 14%;
    position:absolute;
    bottom: -100px;
    left: 0;
    z-index: 5;
    padding-left: 15px;

}

.intro__footer-text{
    color:#fff;
    font-weight:  700;
    padding: 40px 0;
    margin-right: 24px;

}

/* SLIDER */

.slider{
    padding-top: 130px;
}

.slider__title{
    font-size:30px;
    font-weight: 700;
    line-height:1.4;
    text-align: center;
    max-width:520px;
    margin: 0 auto 63px;
    color:rgba(65,94,165,.75);

}

.slider__wrapper{
    position:relative;
    padding: 0 60px;
    margin-bottom: 200px;
}

.slider__wrapper .slick-arrow{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 25px;
    height: 36px;
    border:0;
    cursor:pointer;
    margin-top: -10px;
}

.slider__wrapper .slick-arrow.slick-prev{
    left: 0;
    background: url('../images/Icons/arrow-prev.svg') center no-repeat;
}
.slider__wrapper .slick-arrow.slick-next{
    right: 0;
    background: url('../images/Icons/arrow-next.svg') center no-repeat;
}

.slider__item{
    cursor:pointer;
    transition: .3s ease;
}

.slide__image img{
    margin: 0 auto;
}

.slide__title{
    margin-top: 20px;
    text-align: center;
    color:rgba(65,94,165,.75);
    font-weight: 500;

}



/*ABOUT*/

.about{
    margin-bottom: 200px;
}

.title-row{
    font-size:30px;
    line-height: 1.4;
    color:rgba(65,94,165,.75);
    text-align: center;
    position:relative;
    font-weight: 700;
}

.about__title{
    margin-bottom: 140px;
}

.title-row::before{
    content: "";
    height: 5px;
    width: 30%;
    background-color:#3DB804;
    transform:translateY(-50%);
    position:absolute;
    top: 50%;
    left: 0;
    z-index: 1;
}
.title-row::after{
    content: "";
    height: 5px;
    width: 30%;
    background-color:#3DB804;
    transform:translateY(-50%);
    position:absolute;
    top: 50%;
    right: 0;
    z-index: 1;
}

.slider__content{
    display: flex;

}

.content__item{
    position:relative;
    flex-basis:50%;
    min-width:0;
    border: 2px solid #C9C9C9;
}

.slider__about{
    padding: 18px;
}

.about .slider__item{
    max-width:544px;
    max-height: 426px;
}


.slider__about-text{
    flex-basis:50%;
    padding: 0 18px;
    font-size:20px;
    line-height: 1.4;
    color: #464646;
}

.slick-dots{
    position:absolute;
    bottom: -35px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
}
.slick-dots li{
    list-style:none;
    margin: 0 5px;
}

.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 12px;
    background-color:#C4C4C4;
    border-radius:50%;
    border:0;
    cursor:pointer;
}
.slick-dots li.slick-active button{
    background-color: #0E5195;
}

/*COMMENTS*/

.comments{
    margin-bottom: 260px;
}

.comments__title{
    text-transform: uppercase;
    margin-bottom: 170px;
}


.comments__wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.comments__wrapper:nth-child(2n+1) .comments__item{
    flex-direction: row-reverse;
}

.comments__wrapper:nth-child(2n+1) .author__gallery{
    padding-left: 0;
    text-align: center;
}


.comments__item{
    display: flex;
    align-items: center;

}

.author__gallery-wrapper{
    min-width:0;
    flex-basis:50%;
}

.comments__author{
    flex-basis:50%;
}

.author__content{
    width: 580px;
    height: 120px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
}

.author__photo{
    flex-basis:25%;
    width: 100%;
    max-width: 180px;
    height: 180px;
    border-radius:50%;
    margin: 0 25px;
    object-fit: cover;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.author__about{
    flex-basis:75%;
}

.author__name{
    font-weight: 700;
    font-size:18px;
    line-height:1.4;
}

.author__subtitle{
    font-weight:700;
    font-size:14px;
    line-height: 1.4;
}

.author__link{
    font-size: 13px;
}

.author__gallery{
    width:100%;
    max-width:280px;
    margin: 0 auto;
    position:relative;
}

/* FOOTER */

.footer{
    background-color: #3DB804;
}

.footer__info{
    padding: 141px 0 0 35px;
    margin: 0 auto;
    width: 100%;
    max-width:412px;
    display: flex;
    justify-content: space-between;

}

.footer__phone a,
.footer__mail a{
    color:#fff;
}
.footer__phone::before{
    width: 25px;
    height: 25px;
    left: -35px;
    background: url("../images/Icons/phone__footer.svg")
}

.footer__mail::before{
    width: 25px;
    height: 25px;
    left: -35px;
    background-image: url("../images/Icons/mail__footer.svg")
}

.footer__links{
    display: flex;
    margin: 0 auto 164px;
    padding-top: 45px;
    justify-content: space-between;
    width:100%;
    max-width:150px;
}

.footer__link{
    transition: .3s;
}

.footer__link:hover{
    transform:scale(1.1);
}

/*MEDIA*/

@media(max-width:1250px){
    .intro__image{
        position:unset;
    }
    .intro__image::before{
        top:-40px;
        right: 60px;
    }
    .intro__image::after{
        top:140px;
        right: 270px;
        left: unset;
    }
}
@media(max-width:1200px){
    .container{
        flex-direction: column;
        align-items: center;
    }

    .intro__footer{
        margin-top: 200px;
    }

    .intro__footer__content{
        bottom: -299px;
        max-width: 315px;
    }
    .slider__content{
        flex-direction: column-reverse;
    }
    .slider__about-text{
        margin-bottom: 30px;
    }
    .about .slider__item{
        max-width: unset;
    }
    .about .slider__item img{
        margin: 0 auto;
    }
    .content__item{
        width: 580px;
        margin: 0 auto;
    }
}

@media(max-width:950px){
    .header__info{
        flex-basis:unset;
        padding-left:5px;
    }
    .header__mail{
        padding-right: 30px;
    }
    .intro__footer{
        max-width:400px;
    }

    .comments__title::before,
    .comments__title::after{
        width: 20%;
    }

    .comments__item{
        flex-direction: column !important;
        margin-bottom: 30px;
    }

    .comments__author{
        margin-bottom: 80px;
    }


}

@media(max-width:750px){
    .intro__title,
    .intro__text{
        text-align: center;
    }
    .intro__text{
        margin: 60px auto 0;
    }

    .footer__links{
        margin-bottom: 60px;
    }
}

@media(max-width:650px){
    .header__info{
        flex-basis:60%;
    }

    .intro__title{
        font-size:22px;
    }

    .slider__wrapper .slick-arrow.slick-prev{
        left:25px;
    }

    .slider__wrapper .slick-arrow.slick-next{
        right:25px;
    }

    .slider__wrapper{
        margin-bottom: 100px;
    }
    .slider{
        padding-top: 15px;
    }
    .about__title{
        margin-bottom: 50px;
    }

    .content__item{
        width: 100%;
    }
    .about .slider__item img
    {
        width: inherit;
        object-fit: cover;
        height: auto;
    }
    .comments__title::before,
    .comments__title::after{
        width: 10%;
    }

    .comments__author{
        width: 100%;
    }

    .author__content{
        width: 100%;
        padding: 0 5px;
    }



}

@media(max-width:500px){
    .header__info{
        flex-direction: column;
        font-size:17px;
    }

    .header__mail,
    .header__phone{
        margin: 15px 15px 15px auto;
    }
    .header__mail{
        padding-right: 0;
    }

    .header__links{
        bottom: -15px;
        right: 12px;
    }

    .intro__footer{
        max-width: 100%;
        background-color: #3DB804;
    }
    .intro__footer__content{
        left: 50%;
        transform:translateX(-50%);
        padding-left: 0;
        margin-right: 0;
    }

    .slider__title{
        font-size:26px;
    }

    .title-row{
        font-size:26px;
    }

    .slider__about{
        padding: 10px;
    }

    .intro__image{
        margin-left: 0;
    }








}

@media(max-width:450px){
    .comments__title::before,
    .comments__title::after{
        width: 5%;
    }

    .footer__info{
        flex-direction: column;
    }
    .footer__mail{
        margin: 0 auto 25px;
    }
    .footer__phone{
        margin: 0 auto;
    }
}


@media(max-width: 400px){
    .intro__image img{
        max-width: 100%;
    }
    .slider__wrapper{
        padding: 0;
    }
    .slider__wrapper .slick-arrow.slick-prev{
        left:0;
    }

    .slider__wrapper .slick-arrow.slick-next{
        right:0;
    }
    .slider__about-text{
        font-size: 16px;
    }
    .about__title::before,
    .about__title::after{
        width: 25%;
    }

    .comments__title::before,
    .comments__title::after{
        width: 0;
    }

    .comments__title{
        font-size:25px;
    }

    .author__photo{
        width: 120px;
        height: 120px;
    }
}

@media(max-width:350px){
    .header__content{
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .header__mail,
    .header__phone{
        margin: 15px auto;
        padding-left: 25px;
    }
    .header__mail::before,
    .header__phone::before{
        left:-5px;
    }


    .header__links{
        bottom: -25px;
        right: 50%;
        transform:translateX(50%);
    }

    .intro__footer__content{
        font-size:15px;
        max-width:254px;
    }

    .slider__title{
        font-size:23px;
    }

    .comments__title{
        font-size:28px;
    }

    .author__name{
        font-size:14px;
    }
    .author__subtitle{
        font-size:12px;
    }
    .author__link{
        font-size:11px;
    }
    .author__photo{
        margin: 0 10px;
    }

}









